* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #ffff;
}

/* VIDEO BACKGROUND ------------------------------------------------- */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-loop-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  object-fit: cover;
}

.video-tint {
  background-color: #10182040;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* CONTACT ------------------------------------------------- */
.contact {
  background-color: #101820bd;
  position: fixed;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10% 20%;
  z-index: 1;
}

.contact-email {
  width: 100%;
  grid-row: 1/span 2;
}

.contact-location {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.contact-location-text {
  margin-top: 30px;
}

.contact-location-text p {
  text-align: right;
  letter-spacing: 0.1em;
  margin: 0;
}

.contact-socials {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.contact-socials-text {
  margin-top: 30px;
}

.contact-socials-text p {
  text-align: right;
  letter-spacing: 0.1em;
  margin: 0;
}
