* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #ffff;
}

/* FONTS --------------------------------------------------- */
h1 {
  font-size: 24pt;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h2 {
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-size: 38pt;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 75%;
}

p {
  font-size: 12pt;
  font-weight: 100;
  text-align: justify;
  letter-spacing: 0.1em;
  line-height: 150%;
  margin-top: 30px;
}

a {
  font-size: 12pt;
  color: #ffff;
  font-weight: 100;
  letter-spacing: 0.1em;
}

hr {
  background-color: #f32735;
  border: none;
  height: 5px;
  margin-top: 5px;
}

/* NAVBAR ------------------------------------------------- */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
  backdrop-filter: blur(5px);
}

.logo {
  width: 150px;
  height: 100%;
}

.logo a {
  display: block;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/logoR.svg");
  height: 100%;
}

.navlist {
  display: flex;
}

.navlist a {
  margin: 0 25px;
}

#menu-icon {
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

/* HOMEPAGE ------------------------------------------------- */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-loop-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  object-fit: cover;
}

.video-tint {
  background-color: #10182040;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.home-logo {
  width: 30%;
  z-index: 2;
}

.home-arrow {
  width: 100px;
  height: 35px;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzM1IiBoZWlnaHQ9IjEwNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTUuMjYxIDIuMjA2QzEwLjQwNC0uNDI0IDQuMzM2IDEuMzgyIDEuNzA2IDYuMjQtLjkyNCAxMS4wOTYuODgyIDE3LjE2NCA1Ljc0IDE5Ljc5NGw5LjUyMi0xNy41ODh6bTMxNCAxNy41ODhjNC44NTctMi42MyA2LjY2Mi04LjY5OCA0LjAzMy0xMy41NTUtMi42My00Ljg1Ny04LjY5OC02LjY2Mi0xMy41NTUtNC4wMzNsOS41MjIgMTcuNTg4ek0xNjcuNSA5NmwtNC43NjEgOC43OTRhMTAgMTAgMCAwMDkuNTIyIDBMMTY3LjUgOTZ6TTUuNzM5IDE5Ljc5NGwxNTcgODUgOS41MjItMTcuNTg4LTE1Ny04NS05LjUyMiAxNy41ODh6bTE2Ni41MjIgODVsMTU3LTg1LTkuNTIyLTE3LjU4OC0xNTcgODUgOS41MjIgMTcuNTg4eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  z-index: 2;
}

a.more {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 9999;
}

/* ABOUT ------------------------------------------------- */
.about {
  background-color: #101820bd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  width: 100%;
  padding: 10% 20%;
  padding-bottom: 0;
}

.about-img {
  max-width: 100%;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  width: 100%;
}

/* WORK ------------------------------------------------- */
/* RECENT -------------------- */
.recent {
  background-color: #101820bd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  width: 100%;
  padding: 10% 20%;
  padding-bottom: 0;
}

.recent-header {
  grid-column: 1/ span 2;
  margin-bottom: 30px;
}

.recent-img {
  max-width: 100%;
}

.recent-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-text {
  width: 100%;
}

/* REST -------------------- */
.rest {
  background-color: #101820bd;
  width: 100%;
  padding: 10% 20%;
  padding-bottom: 0;
}

.rest-header {
  margin-bottom: 30px;
}

.rest-gallery {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  width: 100%;
  overflow: hidden;
}

.rest-project {
  position: relative;
  max-height: 432px;
  overflow: hidden;
}

.rest-gallery img {
  max-width: 100%;
  min-height: 432px;
  max-height: 432px;
}

.horizontal img {
  height: 100%;
  object-fit: cover;
  margin: 0 -75px 0 0;
}

.horizontal2 img {
  height: 100%;
  object-fit: cover;
  margin: 0 -205px 0 0;
}

.square img {
  height: 100%;
  object-fit: cover;
}

.square2 img {
  height: 100%;
  object-fit: cover;
  margin: 0 -65px 0 0;
}

.rest-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  transition: .25s ease;
  background-color: #f3273590;
}

.rest-project:hover .rest-overlay {
  height: 100%;
}

.rest-overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 15px 15px;
}

.rest-overlay a{
  display: block;
  width: 100%;
  height: 100%;
}

.rest-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 432px;
  max-width: 432px;
  width: 100%;
  border: solid 5px #f32735;
  -webkit-mask:
   conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
    var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
   conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
    0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
   linear-gradient(#000 0 0) padding-box no-repeat;
 transition: .25s, -webkit-mask-position .25s .25s;
}

.rest-more:hover {
  --_i: 100%;
transition: .25s, -webkit-mask-size .25s .25s;
}

.rest-more-text a{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* FOOTER ------------------------------------------------- */
.contact {
  background-color: #101820bd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 5% 20%;
  padding-bottom: 0;
  z-index: 100;
}

.contact-info p {
  font-size: 12pt;
  font-weight: 100;
  text-align: left;
  letter-spacing: 0.1em;
  margin: 0;
}

.contact-logo {
  background-image: url();
  width: 33%;
  height: 100%;
  justify-self: center;
}

.contact-logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: 160%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/logoR.svg");
}

.contact-links p {
  font-size: 12pt;
  font-weight: 100;
  text-align: right;
  letter-spacing: 0.1em;
  margin: 0;
}

footer {
  font-size: 12pt;
  font-weight: 100;
  text-align: center;
  grid-column: 1/span 3;
  padding: 2.5%;
  opacity: 0.5;
}
