/* FONTS --------------------------------------------------- */
h1 {
  font-size: 38pt;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h2 {
  font-size: 34pt;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h3 {
  font-size: 38pt;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80%;
}

h4 {
  font-size: 16pt;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  font-size: 15pt;
  font-weight: 400;
  letter-spacing: 0.1em;
  word-spacing: 0em;
  line-height: 150%;
  margin-top: 30px;
  text-align: justify;
  hyphens: none;
}

a.link {
  border-bottom: 0px solid;
}

a.link:hover {
  border-bottom: 7.5px solid;
}

a.filter {
  border-bottom: 0px solid;
}

a.filter:hover {
  border-bottom: 7.5px solid;
}

a {
  font-size: 15pt;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: 0.25s ease;
  cursor: pointer;
}

a:hover {
  color: #f32735;
}

hr.rule {
  background-color: #f32735;
  border: none;
  height: 7.5px;
}

span.bold {
  font-weight: 800;
  text-transform: uppercase;
}

span.quote {
  font-size: 20pt;
  font-weight: 600;
  display: block;
  text-align: center;
  font-style: italic;
  padding: 10%;
}

span.sayer {
  position: relative;
}

span.red {
  color: #f32735;
}

span.name {
  font-size: 15pt;
  color: #f32735;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: relative;
  left: -205px;
}

/* MEDIA QUERIES -------------------- */
/* (Phones) --------- */
@media only screen and (orientation: portrait) {
  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 20pt;
  }

  h3 {
    font-size: 30pt;
  }

  h4 {
    font-size: 16pt;
  }

  p {
    font-size: 13pt;
    line-height: 175%;
    word-spacing: -0.1em;
  }

  a {
    font-size: 13pt;
  }

  hr.rule {
    margin-top: 10px;
  }

  span.name {
    font-size: 15pt;
    color: #f32735;
    font-weight: 400;
    letter-spacing: 0.1em;
    position: relative;
    left: -205px;
  }
}
