* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: #ffff;
}

/* BACKGROUND VIDEO ------------------------------------------------- */
.home {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.video-loop-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  object-fit: cover;
}

.video-tint {
  background-color: #10182040;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* WORKS ------------------------------------------------- */
.work {
  position: relative;
  background-color: #101820e8;
  width: 100%;
  height: 100%;
  min-height: 72vh;
  padding: 160px 20%;
  padding-bottom: 0;
  z-index: 1;
}

.work-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 5%;
  grid-column: 1/span 3;
}

.filterlist {
  display: flex;
}

.filterlist a {
  font-weight: 400 !important;
  margin: 0 25px;
  padding: 10px 0;
}

.work-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
}

.work-project {
  position: relative;
  max-height: 367px;
  overflow: hidden;
}

.work-gallery img {
  max-width: 100%;
  min-height: 367px;
  max-height: 367px;
}

.work-project img {
  height: 100%;
  object-fit: cover;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  transition: .25s ease;
  background-color: #f3273590;
}

.work-project:hover .work-overlay {
  height: 100%;
}

.work-overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 15px 15px;
  z-index: 0;
}

.work-overlay a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* MEDIA QUERIES -------------------- */
/* (1440p) --------- */
@media (min-width: 1921px) and (max-width: 2560px) {
  .work-project {
    max-height: 400px;
  }

  .work-gallery img {
    min-height: 400px;
    max-height: 400px;
  }
}
