* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "proxima-nova", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: #ffff;
}

/* PROJECT ------------------------------------------------- */
.project {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  height: 100vh;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

/* DETAILS ------------------------------------------------- */
.details {
  background-color: #101820e8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  width: 100%;
  padding: 160px 20%;
  padding-bottom: 0;
}

.details-header {
  grid-column: 1/span 2;
}

.details-text {
  width: 100%;
}

.details-tags {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.details-tags p {
  text-align: right !important;
}

/* MEDIA QUERIES -------------------- */
/* (Phones) --------- */
@media only screen and (orientation: portrait) {
  .details {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    padding: 160px 10%;
    padding-bottom: 80px;
  }

  .details-header {
    grid-column: 1/span 1;
  }

  .details-tags {
    align-items: flex-start;
  }

  .details-tags p {
    text-align: left !important;
  }
}

/* GALLERY ------------------------------------------------- */
.gallery {
  background-color: #101820e8;
  padding: 5% 20%;
  padding-bottom: 0;
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  width: 100%;
  overflow: hidden;
}

.gallery-horizontal img {
  width: 1151px;
  object-fit: cover;
}

.gallery img {
  max-width: 100%;
  min-height: 561px;
  max-height: 561px;
  object-fit: cover;
}

/* MEDIA QUERIES -------------------- */
/* (1440p) --------- */
@media (min-width: 1921px) and (max-width: 2560px) {
  .gallery-horizontal img {
    width: 1227px;
  }

  .gallery img {
    min-height: 601px;
    max-height: 601px;
  }
}

/* MEDIA QUERIES -------------------- */
/* (Phones) --------- */
@media only screen and (orientation: portrait) {
  .gallery {
    padding: 5% 10%;
    padding-bottom: 0;
    gap: 30px;
  }
}